body {
    font-family: Arial, sans-serif;
    background-color: rgba(233, 236, 239, 0.5); /* Более дружественный к пользователю цвет фона */
    margin: 0;
    padding: 0;
    height: 100vh; /* Убедиться, что тело занимает всю высоту окна просмотра */
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Позволить основному контенту расти и занимать доступное пространство */
    padding: 0; /* Удалить любые отступы */
    margin: 0; /* Удалить любые поля */
}

.welcome-container {
    text-align: center;
    padding: 20px; /* Скорректированный отступ */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box; /* Убедиться, что отступы включены в общую ширину и высоту элемента */
}

.welcome-header {
    margin-bottom: 20px; /* Скорректированный отступ */
}

.welcome-header h1 {
    font-size: 2.5em; /* Скорректированный размер шрифта */
    color: #343a40;
}

.welcome-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px; /* Скорректированный отступ */
}

.welcome-links {
    margin-top: 20px; /* Скорректированный отступ */
}

.welcome-links .btn {
    margin: 10px; /* Скорректированный отступ */
    padding: 15px 30px; /* Скорректированный отступ */
    font-size: 1.2em; /* Скорректированный размер шрифта */
    text-decoration: none; /* Убедиться, что нет подчеркивания */
    display: inline-block; /* Убедиться, что кнопки являются inline-block */
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход для эффектов наведения */
}

.welcome-links .btn-primary {
    background-color: #6c757d; /* Средне серый цвет */
    border-color: #6c757d; /* Средне серый цвет границы */
    color: #fff;
}

.welcome-links .btn-primary:hover {
    background-color: #d3d3d3; /* Светло-серый цвет при наведении */
    border-color: #d3d3d3; /* Светло-серый цвет границы при наведении */
}

.welcome-links .btn-secondary {
    background-color: #6c757d; /* Средне серый цвет для кнопки "View Resumes" */
    border-color: #6c757d;
    color: #fff;
}

.welcome-links .btn-secondary:hover {
    background-color: #5a6268; /* Темно-серый цвет при наведении */
    border-color: #545b62; /* Темно-серый цвет границы при наведении */
}