.navbar-text {
    font-weight: normal; /* Adjust to normal if bold is too heavy */
    font-size: 0.9em; /* Make the font size smaller */
    color: #f8f9fa; /* Light color to contrast with dark background */
    margin-right: 1rem;
    white-space: nowrap;
}
.btn {
    margin-left: 0.5rem; /* Space between buttons */
}
.d-flex {
    display: flex;
}
.flex-grow-1 {
    flex-grow: 1;
}
.ms-auto {
    margin-left: auto;
}
.me-3 {
    margin-right: 1rem;
}
.navbar-brand {
    margin-right: auto;
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.card-text strong {
    color: #333;
}

.error-message {
    color: yellow;
}

.btn-primary {
    background-color: #28a745; /* Green */
    border-color: #28a745; /* Green */
    padding: 15px 30px; /* Make the button bigger */
    font-size: 18px; /* Increase font size */
    border-radius: 5px; /* Optional: rounded corners */
    display: inline-block; /* Ensure it respects padding */
    text-align: center; /* Center the text inside the button */
    margin: 0 auto; /* Center the button horizontally */
    width: fit-content; /* Button width fits content */
}

.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Optional: use with full-height parent */
}

.btn-primary:hover {
    background-color: #218838; /* Darker green */
    border-color: #1e7e34; /* Even darker green */
}

.btn-outline-info {
    color: #28a745; /* Green */
    border-color: #28a745; /* Green */
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #28a745; /* Green */
    border-color: #28a745; /* Green */
}

.container {
    background-color: #2a72b8; /* White background for the container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-text {
    font-weight: bold;
    font-size: 1.1em;
    color: #f8f9fa; /* Light color to contrast with dark background */
    margin-right: 1rem;
}

.navbar-text span {
    color: #17a2b8; /* Info color */
}